//Default config options for running nf_CRACpipeline

//load the configuration for all parameters
includeConfig 'conf/params.config'

profiles {
    test {
       includeConfig 'conf/test.config'
    }
}

//configurations for report function
process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/nf_CRACpipeline_dag_${trace_timestamp}.html"
} 

process {
   conda = "/datastore/homes3/s1971675/miniconda3/envs/crac-env/"
}
