/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      nf_CRACpipeline parameter config file
---------------------------------------------------------------
      Default parameter for running the pipeline
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    
    //Input
    reads                                = null

    //Flexbar
    adapterfile                          = null
    adapterpreset                        = null
    
    //pyBarcodeFilter.py
    skip_demultiplex                     = false
    barcode                              = null
    mismatches                           = 1
    
    //novoalign
    novoindex                            = null
    
    //pyReadCounters.py, pyGTF2bedGraph.py, pyCalculateFDRs.py, pyPileup.py
    gtf                                  = null
    chromosome                           = null
    genometab                            = null
    genelist                             = null
    
    //bedtools multicov
    transcriptgff                        = null
    
    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                           = '128.GB'
    max_cpus                             = 16
    max_time                             = '240.h'
    
    //output options
    outdir                               = "results"
    publish_dir_mode                     = "copy"
    tracedir                             = "${params.outdir}/pipeline_info"
    
    //other
    help                                  = false
    enable_conda                          = false
}