/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      nf_CRACpipeline parameter config file
---------------------------------------------------------------
      Default parameter for running the pipeline
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    
    //Input
    reads                                = null

    //Flexbar
    adapterfile                          = null
    adapterpreset                        = null
    
    //pyBarcodeFilter.py
    barcode                              = ""
    mismatches                           = 1
    
    //novoalign
    novoindex                            = ""
    
    //pyReadCounters.py, pyGTF2bedGraph.py, pyCalculateFDRs.py, pyPileup.py
    gtf                                  = ""
    chromosome                           = ""
    genometab                            = ""
    genelist                             = null
    
    //bedtools multicov
    transcriptgff                        = ""
    
    //Basics
    outdir                               = "results"
    publish_dir_mode                     = "copy"
    skip_demultiplex                     = false
    tracedir                             = "${params.outdir}/pipeline_info"
    
    //other
    help                                  = false
}