// configuration file for test run

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      nf_CRACpipeline parameter config file
---------------------------------------------------------------
      Default parameter for running the pipeline
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    reads                                = "ssd1_100k_reads.fastq" 
    adapterfile                          = "~/Ssd1_CRACanalysis_2020/input_barcodes/3primeadapter.fasta "
    barcode                              = "~/Ssd1_CRACanalysis_2020/input_barcodes/Ssd1CRACSampleBarcodes.txt "
    novoindex                            = "~/CRAC_analysis_2022/Pbp2_CRAC_analysis/input_annotation/Saccharomyces_cerevisiae.EF4.74.dna.toplevel.shortChrNames.novoindex"
    gtf                                  = "~/CRAC_analysis_2022/Pbp2_CRAC_analysis/input_annotation/Saccharomyces_cerevisiae.EF4.74_SGDv64_CUTandSUT_withUTRs_noEstimates_antisense_intergenic_4xlncRNAs_final.pyCheckGTFfile.output.quotefix.gtf"
    chromosome                           = "~/CRAC_analysis_2022/Pbp2_CRAC_analysis/input_annotation/Saccharomyces_cerevisiae.EF4.74.dna.toplevel.shortChrNames.lengths"
    genometab                            = "~/CRAC_analysis_2022/Pbp2_CRAC_analysis/input_annotation/Saccharomyces_cerevisiae.EF4.74.dna.toplevel.shortChrNames.fa.tab"
    genelist                             = "~/Ssd1_CRACanalysis_2020/input_annotation/Ssd1TargetGeneNamesOnly.txt"
    transcriptgff                        = "~/CRAC_analysis_2022/Pbp2_CRAC_analysis/input_annotation/abundant_verified_full-ORF_ypd_plus_other_fixed_UTR_length_transcripts.gff "
}